
table {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  spacing: 0px;
}

td {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  spacing: 0px;
}

th, td {
  padding: 0px;
}

/* */
#wise-banner {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    border-color: black;
    border-width: thick;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}


/** none of these work
.menu-panel {padding-top: 100px;}
.wsdl-list  {padding-top: 100px;}
.wsdlView-panel tr {
    margin-top: 100px;
    padding-top: 100px;}
.readWsdl-Button {float: right;}
**/
.evenBlk {background-color: #DCDCDC;}
.oddBlk {background-color: #EAEAEA;}
